<!DOCTYPE html>
<html lang="en">

<head>
    <title>Unemployment Stats</title>
    <link href="../assets/styles.css" rel="stylesheet">
</head>

<body>
<div class="container">
    <div class="navbar">
        <div class="title">
            <h1>Unemployment Stats</h1>
        </div>
        <div class="navbar-selector">
            <button class="navbar-selector-button">
                <a class="navbar-selector-button-a" href="chart1.html">Map</a>
            </button>
            <button class="navbar-selector-button">
                <a class="navbar-selector-button-a" href="chart2.html">Bar Chart</a>
            </button>
            <button class="navbar-selector-button">
                <a class="navbar-selector-button-a" href="pie-chart.html">Pie Chart</a>
            </button>
            <button class="navbar-selector-button">
                <a class="navbar-selector-button-a" href="index.html">Home</a>
            </button>
            <button class="navbar-selector-button">
                <a class="navbar-selector-button-a" href="login.html">Login</a>
            </button>
            <button class="navbar-selector-button">
                <a class="navbar-selector-button-a" href="about-us.html">About us</a>
            </button>
            <div class="language-switcher">
                <button class="active" id="english-btn">English</button>
                <button id="romanian-btn">Romana</button>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="content-filter">
            <!--create 6 buttons for selecting the filter-->
            <div class="checkbox-dropdown">
                <label>Choose the time frame</label>
                <ul class="checkbox-dropdown-list">
                    <li>
                        <label>
                            <input name="months" type="checkbox" value="Vejle"/>Last 3 months</label>
                    </li>
                    <li>
                        <label>
                            <input name="months" type="checkbox" value="6-months"/>Last 6 months</label>
                    </li>
                    <li>
                        <label>
                            <input name="months" type="checkbox" value="12-months"/>Last 12 months</label>
                    </li>

                </ul>
            </div>

            <div class="checkbox-dropdown">
                <label>Choose a county</label>
                <input id="county-search" placeholder="Search..." type="text">
                <ul class="checkbox-dropdown-list" id="county-list">
                </ul>
            </div>

            <div class="filtering-element">
                <label class="filtering-element-label">More filters:</label>
                <div class="filtering-element-options">
                    <label class="filtering-element-option">
                        <input name="gender" type="checkbox" value="total">
                        Total
                    </label>
                    <label class="filtering-element-option">
                        <input name="gender" type="checkbox" value="male">
                        Male
                    </label>
                    <label class="filtering-element-option">
                        <input name="gender" type="checkbox" value="female">
                        Female
                    </label>
                    <label class="filtering-element-option">
                        <input name="gender" type="checkbox" value="rate">
                        Rate
                    </label>
                </div>
            </div>
        </div>

        <canvas id="barChart"></canvas>
    </div>

    <footer>
        <p>&copy; 2023 The project</p>
    </footer>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="../api/chart1.js"></script>
</body>

</html>