<!DOCTYPE html>
<html>

<head>
    <title>Unemployment Stats</title>
    <link href="../public/styles/styles.css" rel="stylesheet" type="text/css">
    <link href="../public/styles/contentStyles.css" rel="stylesheet">
</head>

<body>
<div class="navbar">
    <div class="title">
        <a class="navbar-selector-button" href="/"><h1>Unemployment Stats</h1></a>
    </div>
    <div class="navbar-selector">
        <a class="navbar-selector-button" href="/map">Map</a>
        <a class="navbar-selector-button" href="/bar-chart">Bar chart</a>
        <a class="navbar-selector-button" href="/pie-chart">Pie chart</a>
        <a class="navbar-selector-button" href="/age-chart">Age chart</a>


        <a class="navbar-selector-button" href="/login" id="login-link">Login</a>
        <a class="navbar-selector-button" href="/about-us">About us</a>
    </div>
</div>
<div class="content">
    <p>
        Unemployment is a major issue in Romania, affecting many individuals and families across the country. According
        to recent statistics, the unemployment rate in Romania was 4.6% in 2021, a slight increase from the previous
        year.
        Despite these challenges, there is reason for hope. Romania has made significant progress in reducing
        unemployment in recent years, with the rate dropping from a high of 8.2% in 2015. The government has implemented
        a number of policies and programs aimed at creating new jobs and supporting those who are out of work.
        One such initiative is the National Employment Agency, which offers job training, counseling, and placement
        services to help individuals find employment. In addition, the government has invested in key industries such as
        technology and manufacturing, which have the potential to create new jobs and drive economic growth.
        While there is still much work to be done, it is important to remember that unemployment is not a permanent
        condition. With the right support and resources, individuals can overcome this challenge and find meaningful,
        fulfilling work. By working together and supporting one another, we can create a brighter future for all
        Romanians.
    </p>
</div>
</body>
<footer class="footer">
    <p>&copy; 2023 The project</p>
</footer>
<script src="../public/app.js" type="module"></script>
</html>