<!DOCTYPE html>
<html>
<head>
    <title>Unemployment Stats</title>
    <link rel="stylesheet" href="../api/style.css">
</head>
<body>
<div class="navbar">
    <div class="title">
        <h1>Unemployment Stats</h1>
    </div>
    <div class="navbar-selector">
        <button class="navbar-selector-button">
            <a class="navbar-selector-button-a" href="chart1.html">Map</a>
        </button>
        <button class="navbar-selector-button">
            <a class="navbar-selector-button-a" href="chart2.html">Bar Chart</a>
        </button>
        <button class="navbar-selector-button">
            <a class="navbar-selector-button-a" href="pie-chart.html">Pie Chart</a>
        </button>
        <button class="navbar-selector-button">
            <a class="navbar-selector-button-a" href="home.html">Home</a>
        </button>
        <button class="navbar-selector-button">
            <a class="navbar-selector-button-a" href="login.html">Login</a>
        </button>
        <button class="navbar-selector-button">
            <a class="navbar-selector-button-a" href="about-us.html">About us</a>
        </button>
        </button>
        <div class="language-switcher">
            <button id="english-btn" class="active">English</button>
            <button id="romanian-btn">Romana</button>
        </div>
    </div>

</div>
<div class="content">

<head>
    <link rel="stylesheet" href="../api/style.css">
</head>

<section>
        <h1>Login</h1>
        <form>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>

            <input type="submit" value="Login">
        </form>
        <p>Don't have an account? <a class="signup-btn">Sign up</a></p>
</section>
</div>
<footer>
    <p>&copy; 2023 The project</p>
</footer>

</body>
</html>
