<!DOCTYPE html>
<html lang="en">

<head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Unemployment Stats</title>
    <link href="../../public/styles/styles.css" rel="stylesheet">
    <link href="../../public/styles/contentStyles.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script src="../../public/scripts/app.js" type="module"></script>
    <script src='../../public/scripts/charts.js'></script>
    <script src="../../public/scripts/ageChart.js" type="module"></script>


</head>
<body>
<div class="navbar">
    <div class="title">
        <a class="navbar-selector-button" href="/"><h1>Unemployment Stats</h1></a>
    </div>
    <div class="navbar-selector">
        <a class="navbar-selector-button" href="/map">Map</a>
        <a class="navbar-selector-button" href="/bar-chart">Bar chart</a>
        <a class="navbar-selector-button" href="/pie-chart">Pie chart</a>
        <a class="navbar-selector-button" href="/age-chart">Age chart</a>

        <a class="navbar-selector-button" href="/admin" id="admin-button">Admin</a>

        <a class="navbar-selector-button" href="/login" id="login-link">Login</a>
        <a class="navbar-selector-button" href="/about-us">About us</a>
        <button id="darkModeToggle">Dark Mode</button>

    </div>
</div>
<div class="content">
    <div class="content-filter">
        <!--create 6 buttons for selecting the filter-->
        <div class="checkbox-dropdown">
            <label>Choose the time frame</label>
            <ul class="checkbox-dropdown-list">
                <li>
                    <label>
                        <input id="3" name="months" type="checkbox" value="3"/>Last 3 months</label>
                </li>
                <li>
                    <label>
                        <input id="6" name="months" type="checkbox" value="6"/>Last 6 months</label>
                </li>
                <li>
                    <label>
                        <input id="9" name="months" type="checkbox" value="12"/>Last 12 months</label>
                </li>

            </ul>
        </div>

        <div class="checkbox-dropdown">
            <label>Choose a county</label>
            <input id="county-search" placeholder="Search..." type="text">
            <ul class="checkbox-dropdown-list" id="county-list">
            </ul>
        </div>
        <label>Select maximum 3 counties</label>
    </div>
    <div class="chart-container">
        <canvas id="ageChart"></canvas>
    </div>
    <div>
        <button class="content-filter-button" id="pdf">PDF</button>
    </div>

</div>
<footer class="footer">
    <p>&copy; 2023 The project</p>
</footer>

</body>
<script crossorigin="anonymous"
        integrity="sha512-qZvrmS2ekKPF2mSznTQsxqPgnpkI4DNTlrdUmTzrDgektczlKNRRhy5X5AAOnx5S09ydFYWWNSfcEqDTTHgtNA=="
        referrerpolicy="no-referrer" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js"></script>

</html>