<!DOCTYPE html>
<html lang="en">

<head>
    <title>Unemployment Stats</title>
    <link href="../../public/styles/styles.css" rel="stylesheet">
    <link href="../../public/styles/contentStyles.css" rel="stylesheet">
</head>

<body>
<div class="navbar">
    <div class="title">
        <a class="navbar-selector-button" href="/"><h1>Unemployment Stats</h1></a>
    </div>
    <div class="navbar-selector">
        <a class="navbar-selector-button" href="/map">Map</a>
        <a class="navbar-selector-button" href="/bar-chart">Bar chart</a>
        <a class="navbar-selector-button" href="/pie-chart">Pie chart</a>
        <a class="navbar-selector-button" href="/age-chart">Age chart</a>


        <a class="navbar-selector-button" href="/login" id="login-link">Login</a>
        <a class="navbar-selector-button" href="/about-us">About us</a>
    </div>
</div>
<div class="content">
    <div class="content-filter">
        <!--create 6 buttons for selecting the filter-->
        <div class="checkbox-dropdown">
            <label>Choose the time frame</label>
            <ul class="checkbox-dropdown-list">
                <li>
                    <label>
                        <input name="months" type="checkbox" value="3-months"/>Last 3 months</label>
                </li>
                <li>
                    <label>
                        <input name="months" type="checkbox" value="6-months"/>Last 6 months</label>
                </li>
                <li>
                    <label>
                        <input name="months" type="checkbox" value="12-months"/>Last 12 months</label>
                </li>
            </ul>
        </div>
        <div class="filtering-element">
            <label class="filtering-element-label">More filters:</label>
            <div class="filtering-element-options">
                <label class="filtering-element-option">
                    <input name="gender" type="checkbox" value="total">
                    Total nr of Unemployed
                </label>
                <label class="filtering-element-option">
                    <input name="gender" type="checkbox" value="male">
                    Unemployed Male
                </label>
                <label class="filtering-element-option">
                    <input name="gender" type="checkbox" value="female">
                    Unemployed Female
                </label>
                <label class="filtering-element-option">
                    <input name="gender" type="checkbox" value="paid">
                    Paid
                </label>
                <label class="filtering-element-option">
                    <input name="gender" type="checkbox" value="notPaid">
                    Not Paid
                </label>
            </div>
        </div>

    </div>

    <canvas id="mapChart"></canvas>

</div>


<!-- <div class="filtering-element">Export<div>
     <button id="csv" class="navbar-selector-button">CSV</button>
     <br> <br>
     <div id="text"></div>
     <button id="svg" class="navbar-selector-button">SVG</button>
     <button id="pdf" class="navbar-selector-button">PDF</button>
 </div>



 </div>-->
<footer class="footer">
    <p>&copy; 2023 The project</p>
</footer>
<script src="../../public/app.js" type="module"></script>
<script src='../../public/charts.js'></script>
<script src='../../public/exports.js'></script>

</body>

</html>